/* reset */

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* Global */

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons: #A5B0C1;

    --gray-dark: #4D5E77;
    --gray-blue: #A1B2CD;
    --gray-medium: #D3D9E2;
    --gray-light: #E5EAF1;

    /* 1rem = 16px (User Agent) = 100% */
    font-size: 62.5% /* = 10px */
}

body {
    height: 100vh; /* nao aplicar quando ha colagem vertical */
    background: var(--background);
}

body, button, input, textarea {
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw); /* minimo 14px, tamanho padrao 1.6 rem, tamanho para telas muito grandes(tv) */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content{

    width: 100%;
    margin: 0 auto;

}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}

/* input and buttons */

input, button, .button {
    border-radius: .8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center; /* alinha ao centro verticalmente */
    justify-content: center; /* alinha ao centro horizontalmente */
    
    background: var(--blue);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img, 
.button > img {

    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;    
}